# dank-extract .gitignore

.task
.DS_Store

# our binary
/dank-extract

# don't commit test data files!
/dank-data.duckdb
/*.csv
/*.json

# don't commit snapthots!
/snapshots

# don't commit cache files!
.dank
